@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-width: 320px;
  max-width: 1500px;
  width: 100%; }
  body .span1 {
    width: 7.14286%; }
  body .span2 {
    width: 14.28571%; }
  body .span3 {
    width: 21.42857%; }
  body .span4 {
    width: 28.57143%; }
  body .span5 {
    width: 35.71429%; }
  body .span6 {
    width: 42.85714%; }
  body .span7 {
    width: 50%; }
  body .span8 {
    width: 57.14286%; }
  body .span9 {
    width: 64.28571%; }
  body .span10 {
    width: 71.42857%; }
  body .span11 {
    width: 78.57143%; }
  body .span12 {
    width: 85.71429%; }
  body .span13 {
    width: 92.85714%; }
  body .span14 {
    width: 100%; }
  body [class*='span'] {
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    float: left;
    min-height: 1px;
    position: relative; }
  body [class*='span']:first-child {
    margin-left: 0; }
  body .row {
    position: relative;
    *zoom: 1;
    margin-top: 20px; }
    body .row:before, body .row:after {
      display: table;
      content: ""; }
    body .row:after {
      clear: both; }
  body .row:first-child {
    margin-top: 0px; }
  @media screen and (max-width: 570px) {
    body .span14 .span1, body .span14 .span2, body .span14 .span3, body .span14 .span4, body .span14 .span5 {
      width: 100%; }
    body .span10 .span1, body .span10 .span2 {
      width: 100%; }
    body .span9 .span1, body .span9 .span2 {
      width: 100%; }
    body .span8 .span1, body .span8 .span2, body .span8 .span3, body .span8 .span4 {
      width: 100%; }
    body .span7 .span1, body .span7 .span2, body .span7 .span3, body .span7 .span4, body .span7 .span5 {
      width: 100%; }
    body .span6 .span1, body .span6 .span2, body .span6 .span3, body .span6 .span4, body .span6 .span5 {
      width: 100%; }
    body .span5 .span1, body .span5 .span2, body .span5 .span3, body .span5 .span4, body .span5 .span5, body .span5 .span6 {
      width: 100%; }
    body .span4 .span1, body .span4 .span2, body .span4 .span3, body .span4 .span4, body .span4 .span5, body .span4 .span6, body .span4 .span7, body .span4 .span8, body .span4 .span9, body .span4 .span10, body .span4 .span11, body .span4 .span12, body .span4 .span13, body .span4 .span14 {
      width: 100%; }
    body .span3 .span1, body .span3 .span2, body .span3 .span3, body .span3 .span4, body .span3 .span5, body .span3 .span6, body .span3 .span7, body .span3 .span8, body .span3 .span9, body .span3 .span10, body .span3 .span11, body .span3 .span12, body .span3 .span13, body .span3 .span14 {
      width: 100%; }
    body .span2 .span1, body .span2 .span2, body .span2 .span3, body .span2 .span4, body .span2 .span5, body .span2 .span6, body .span2 .span7, body .span2 .span8, body .span2 .span9, body .span2 .span10, body .span2 .span11, body .span2 .span12, body .span2 .span13, body .span2 .span14 {
      width: 100%; }
    body .span1 .span1, body .span1 .span2, body .span1 .span3, body .span1 .span4, body .span1 .span5, body .span1 .span6, body .span1 .span7, body .span1 .span8, body .span1 .span9, body .span1 .span10, body .span1 .span11, body .span1 .span12, body .span1 .span13, body .span1 .span14 {
      width: 100%; } }
  body .row.wide {
    padding: 5px; }
  body .row.thin {
    padding: 15px; }
  body .btnFluid-1 {
    min-width: 85px;
    max-width: 320px;
    width: 4.7619%; }
  body .btnFluid-2 {
    min-width: 85px;
    max-width: 320px;
    width: 9.52381%; }
  body .btnFluid-3 {
    min-width: 85px;
    max-width: 320px;
    width: 14.28571%; }
  body .btnFluid-4 {
    min-width: 85px;
    max-width: 320px;
    width: 19.04762%; }
  body .btnFluid-5 {
    min-width: 85px;
    max-width: 320px;
    width: 23.80952%; }
  body .btnFluid-6 {
    min-width: 85px;
    max-width: 320px;
    width: 28.57143%; }
  body .btnFluid-7 {
    min-width: 85px;
    max-width: 320px;
    width: 33.33333%; }
  body .btnFluid-8 {
    min-width: 85px;
    max-width: 320px;
    width: 38.09524%; }
  body .btnFluid-9 {
    min-width: 85px;
    max-width: 320px;
    width: 42.85714%; }
  body .btnFluid-10 {
    min-width: 85px;
    max-width: 320px;
    width: 47.61905%; }
  body .btnFluid-11 {
    min-width: 85px;
    max-width: 320px;
    width: 52.38095%; }
  body .btnFluid-12 {
    min-width: 85px;
    max-width: 320px;
    width: 57.14286%; }
  body .btnFluid-13 {
    min-width: 85px;
    max-width: 320px;
    width: 61.90476%; }
  body .btnFluid-14 {
    min-width: 85px;
    max-width: 320px;
    width: 66.66667%; }
  body .btnFluid-15 {
    min-width: 85px;
    max-width: 320px;
    width: 71.42857%; }
  body .btnFluid-16 {
    min-width: 85px;
    max-width: 320px;
    width: 76.19048%; }
  body .btnFluid-17 {
    min-width: 85px;
    max-width: 320px;
    width: 80.95238%; }
  body .btnFluid-18 {
    min-width: 85px;
    max-width: 320px;
    width: 85.71429%; }
  body .btnFluid-19 {
    min-width: 85px;
    max-width: 320px;
    width: 90.47619%; }
  body .btnFluid-20 {
    min-width: 85px;
    max-width: 320px;
    width: 95.2381%; }
  body .btnFluid-21 {
    min-width: 85px;
    max-width: 320px;
    width: 100%; }
  body [class*='btnFluid-'] {
    min-height: 1px;
    position: relative; }
  body .center-bottom-fixed [class*='btnFluid'] {
    margin: 0 auto;
    position: absolute;
    left: 0px;
    right: 0px; }

.w100 {
  width: 100% !important; }

.w90 {
  width: 80% !important; }

.w80 {
  width: 80% !important; }

.w70 {
  width: 70% !important; }

.w60 {
  width: 60% !important; }

.w50 {
  width: 50% !important; }

.w40 {
  width: 40% !important; }

.w30 {
  width: 30% !important; }

.w20 {
  width: 20% !important; }

.w10 {
  width: 10% !important; }

.span12 {
  margin: 0 auto !important;
  float: none !important;
  clear: both !important; }

.outer-center {
  float: right;
  right: 50%;
  position: relative; }

.inner-center {
  float: right;
  right: -50%;
  position: relative; }

.hide {
  display: none; }

.btn-round {
  position: relative;
  border: none;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 20px;
  margin: 4px;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */ }

.btn-round.green {
  background: rgba(255, 255, 255, 0.8); }

.btn-round.red {
  background: rgba(255, 255, 255, 0.8); }

.btn-round.blue {
  background: rgba(255, 255, 255, 0.8); }

.btn-round.green-inverse {
  background: #2aad19;
  color: rgba(255, 255, 255, 0.8); }

.btn-round.red-inverse {
  background: #eb3737;
  color: rgba(255, 255, 255, 0.8); }

.btn-round.blue-inverse {
  color: rgba(255, 255, 255, 0.8);
  background: #2b80b7; }

.btn-round.black {
  color: rgba(0, 0, 0, 0.65);
  border: 1.5px solid rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8); }

.btn-round.white {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8); }

.btn-naked {
  position: relative;
  border: none;
  background: none;
  text-align: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 10px;
  margin: 4px;
  font-weight: normal;
  cursor: pointer; }

li .btn-cta {
  width: 100%;
  height: 37px;
  line-height: 35px; }

.btn-cta {
  position: relative;
  border: none;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px 10px;
  width: 100%;
  margin: 4px 0px;
  cursor: pointer;
  -webkit-transition: color 300ms ease-in, background 300ms ease-in;
  -moz-transition: color 300ms ease-in, background 300ms ease-in;
  -ms-transition: color 300ms ease-in, background 300ms ease-in;
  -o-transition: color 300ms ease-in, background 300ms ease-in; }
  .btn-ctadisabled:after, .btn-cta:disabled:after {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
    position: absolute;
    right: 5px;
    top: 0px;
    bottom: 0px;
    height: 15px;
    margin: auto;
    color: #eb3737; }

.btn-cta.green {
  color: white;
  background: #2aad19; }

.btn-cta.green.disabled, .btn-cta.green:disabled {
  color: rgba(255, 255, 255, 0.7);
  pointer: default;
  background: rgba(42, 173, 25, 0.3); }

.btn-cta.red {
  color: white;
  background: #eb3737; }

.btn-cta.red.disabled, .btn-cta.red:disabled {
  color: rgba(255, 255, 255, 0.7);
  pointer: default;
  background: rgba(235, 55, 55, 0.3); }

.btn-cta.blue {
  color: white;
  background: #2b80b7; }

.btn-cta.blue.disabled, .btn-cta.blue:disabled {
  color: rgba(255, 255, 255, 0.7);
  pointer: default;
  background: rgba(43, 128, 183, 0.3); }

.btn-cta.black {
  width: 99.99%;
  height: 99.99%;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.8); }

.btn-cta.black.disabled, .btn-cta.black:disabled {
  pointer: default;
  width: 99.99%;
  height: 99.99%;
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6); }

.btn-cta.white {
  color: rgba(0, 0, 0, 0.9);
  background: rgba(255, 255, 255, 0.8); }

.btn-group {
  width: 100%;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex; }

.btn-group .btn-cta:first-child {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }
.btn-group .btn-cta:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; }

.btn-group .btn-naked {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%; }
  .btn-group .btn-naked:only-child {
    border: none; }
  .btn-group .btn-naked:last-child {
    border-left: 1px solid #dedede; }

.btn-group.gray {
  background: #f7f7f7; }

h1.hero {
  font-size: 2.85714em;
  line-height: 70px;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0px;
  word-spacing: 0px; }

h1 {
  font-size: 2.14286em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  line-height: 34px;
  letter-spacing: -1px;
  word-spacing: 0px; }

h3 {
  font-size: 1.28571em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 0px;
  word-spacing: .5px; }

h4, label {
  line-height: 17px;
  font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: -1px;
  word-spacing: .5px; }

p + p {
  margin-top: 10px; }

p {
  font-size: 1em;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: -1px; }

p.bold, strong, li {
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  line-height: 24px;
  letter-spacing: 0px; }

em, p.caption, .helper {
  font-size: 1em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7); }

.helper {
  font-size: 0.92857em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 2px; }

.error p {
  font-size: 0.92857em;
  font-weight: 400;
  letter-spacing: 2px; }

.menu-link i {
  font-size: 1.28571em; }

.red, .error {
  color: #eb3737; }
  .redh1.hero, .red h1.d3, .redh1.d2, .red h1.d1, .red em, .red p.caption, .red .helper, .errorh1.hero, .error h1.d3, .errorh1.d2, .error h1.d1, .error em, .error p.caption, .error .helper {
    color: rgba(235, 55, 55, 0.7); }
  .redh1.headline, .red h1, .red h2, .red h3, .red p, .red p.bold, .red h4, .red li, .errorh1.headline, .error h1, .error h2, .error h3, .error p, .error p.bold, .error h4, .error li {
    color: rgba(235, 55, 55, 0.9); }

.green, .success {
  color: #2aad19; }
  .greenh1.hero, .green h1.d3, .green h1.d2, .green h1.d1, .green em, .green p.caption, .green .helper, .successh1.hero, .success h1.d3, .success h1.d2, .success h1.d1, .success em, .success p.caption, .success .helper {
    color: rgba(42, 173, 25, 0.7); }
  .greenh1.headline, .green h1, .green h2, .green h3, .green p, .green p.bold, .green h4, .green li, .successh1.headline, .success h1, .success h2, .success h3, .success p, .success p.bold, .success h4, .success li {
    color: rgba(42, 173, 25, 0.9); }

.primary, .blue {
  color: #2b80b7; }
  .primaryh1.hero, .primary h1.d3, .primary h1.d2, .primary h1.d1, .primary em, .primary p.caption, .primary .helper, .blueh1.hero, .blue h1.d3, .blue h1.d2, .blue h1.d1, .blue em, .blue p.caption, .blue .helper {
    color: rgba(43, 128, 183, 0.7); }
  .primaryh1.headline, .primary h1, .primary h2, .primary h3, .primary p, .primary p.bold, .primary h4, .primary li, .blueh1.headline, .blue h1, .blue h2, .blue h3, .blue p, .blue p.bold, .blue h4, .blue li {
    color: rgba(43, 128, 183, 0.9); }

.inverse, .white {
  color: #fff; }
  .inverseh1.hero, .inverse h1.d3, .inverse h1.d2, .inverseh1.d1, .inverse em, .inverse p.caption, .inverse .helper, .whiteh1.hero, .white h1.d3, .white h1.d2, .whiteh1.d1, .white em, .white p.caption, .white .helper {
    color: rgba(255, 255, 255, 0.7); }
  .inverseh1.headline, .inverse h1, .inverse h2, .inverse h3, .inverse p, .inverse p.bold, .inverse h4, .inverse li, .whiteh1.headline, .white h1, .white h2, .white h3, .white p, .white p.bold, .white h4, .white li {
    color: rgba(255, 255, 255, 0.9); }

.mute, .gray {
  color: #b0b0b0; }
  .muteh1.hero, .mute h1.d3, .mute h1.d2, .muteh1.d1, .mute em, .mute p.caption, .mute .helper, .grayh1.hero, .gray h1.d3, .gray h1.d2, .grayh1.d1, .gray em, .gray p.caption, .gray .helper {
    color: rgba(176, 176, 176, 0.7); }
  .muteh1.headline, .mute h1, .mute h2, .mute h3, .mute p, .mute p.bold, .mute h4, .mute li, .grayh1.headline, .gray h1, .gray h2, .gray h3, .gray p, .gray p.bold, .gray h4, .gray li {
    color: rgba(176, 176, 176, 0.9); }

.dark, .black {
  color: #414141; }
  .darkh1.hero, .dark h1.d3, .dark h1.d2, .darkh1.d1, .dark em, .dark p.caption, .dark .helper, .blackh1.hero, .black h1.d3, .black h1.d2, .blackh1.d1, .black em, .black p.caption, .black .helper {
    color: rgba(65, 65, 65, 0.7); }
  .darkh1.headline, .dark h1, .dark h2, .dark h3, .dark p, .dark p.bold, .dark h4, .dark li, .blackh1.headline, .black h1, .black h2, .black h3, .black p, .black p.bold, .black h4, .black li {
    color: rgba(65, 65, 65, 0.9); }

.uppercase, .btn-naked, .btn-group .btn-cta {
  text-transform: uppercase;
  font-weight: 400; }

.btn-naked.no-case {
  text-transform: none; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

.inline {
  display: inline; }

.inline-texth1.d4, .inline-text h1.d3, .inline-text h1.d2, .inline-text h1.d1, .inline-text em, .inline-text p.caption, .inline-text .helper, .inline-text h1.headline, .inline-text h1, .inline-text h2, .inline-text p, .inline-text p.bold, .inline-text h4, .inline-text li {
  display: inline-block; }

.nav {
  position: fixed !important;
  top: 0px;
  left: 0px;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  display: block;
  min-height: 40px;
  position: relative;
  z-index: 15;
  width: 100%;
  border-top: 1px solid #58a9b3;
  border-bottom: 1px solid #26818c;
  background-color: #298b96;
  color: #fff; }
  .nav ul {
    float: left;
    display: block;
    height: 40px;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-right: -4px;
    position: relative; }
  .nav .ul-right {
    position: absolute;
    right: 10px; }
    .nav .ul-right li {
      display: block;
      padding-right: 2px; }
  .nav .ul-left {
    float: left;
    position: static; }
  .nav .brand {
    padding: 0px 10px; }
    .nav .brand a {
      margin-top: 12px; }
  .nav ul li {
    float: left;
    position: relative;
    min-width: 110px;
    max-width: 225px;
    text-align: center;
    height: 39px;
    margin-right: -4px;
    text-indent: 0px;
    list-style: none;
    line-height: 40px; }
  .nav a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 2px 10px; }
  .nav li a:hover, .nav .brand:hover {
    background-color: #41bdcb;
    -webkit-transition: background-color 350ms ease-in-out;
    -moz-transition: background-color 350ms ease-in-out;
    -ms-transition: background-color 350ms ease-in-out;
    -o-transition: background-color 350ms ease-in-out; }
  .nav a {
    color: #fff; }
  .nav:hover:after {
    background-color: #41bdcb;
    -webkit-transition: background-color 350ms ease-in-out;
    -moz-transition: background-color 350ms ease-in-out;
    -ms-transition: background-color 350ms ease-in-out;
    -o-transition: background-color 350ms ease-in-out; }
  .nav ul li a {
    color: white; }
  .nav ul li:hover ul {
    max-height: 1000px; }
  .nav ul li:hover ul + a:after {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg); }
  .nav ul li ul {
    top: 97%;
    left: 0px;
    display: block;
    position: absolute;
    background: #ddd;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    width: 150%;
    -webkit-transition: max-height 350ms ease-in;
    -moz-transition: max-height 350ms ease-in;
    -ms-transition: max-height 350ms ease-in;
    -o-transition: max-height 350ms ease-in; }
  .nav ul li ul + a:after {
    content: "▼";
    position: absolute;
    font-size: 50%;
    top: 0px;
    right: 0px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in; }
  .nav ul li li {
    text-align: left;
    width: 100%; }
  .nav ul li a {
    display: block;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden; }
  .nav ul li ul {
    background-color: #298b96;
    color: #fff; }
    .nav ul li ul li a:hover, .nav ul li ul .brand:hover {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }
    .nav ul li ul a {
      color: #fff; }
    .nav ul li ul:hover:after {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }

.section {
  padding: 20px 0px; }

.section-image {
  position: relative;
  top: 30px; }
  .section-image img {
    width: 100%;
    height: auto;
    display: block; }

#section1 {
  padding-top: 40px;
  background: #1d1d1d; }

@-webkit-keyframes featureIn {
  0% {
    top: 171px; }
  100% {
    top: 0px; } }
@keyframes featureIn {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }
@-webkit-keyframes boxIn {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }
@keyframes boxIn {
  0% {
    top: 171px; }
  100% {
    top: 0px; } }
.box-container {
  text-align: center; }

.feature4 {
  position: relative;
  width: 320px;
  margin: 10px 10px;
  padding: 10px;
  height: 240px;
  overflow: hidden;
  display: inline-block; }

.feature-in {
  -webkit-animation: featureIn 300ms 0 ease;
  -moz-animation: featureIn 300ms 0 ease;
  -ms-animation: featureIn 300ms 0 ease;
  animation: featureIn 300ms 0 ease; }

.box-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0); }

.box-out {
  -webkit-transform: translate(0, 490%);
  -moz-transform: translate(0, 490%);
  -ms-transform: translate(0, 490%);
  -o-transform: translate(0, 490%); }

.box-wrapper {
  position: relative;
  width: 80%;
  margin: 0 auto;
  height: 150px;
  -webkit-animation: featureIn 300ms 0 ease;
  -moz-animation: featureIn 300ms 0 ease;
  -ms-animation: featureIn 300ms 0 ease;
  animation: featureIn 300ms 0 ease; }

.box {
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  float: left;
  width: 73px; }

#b1 {
  height: 71px;
  top: no;
  right: no;
  bottom: no;
  left: no;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#b2 {
  height: 118px;
  top: no;
  right: no;
  bottom: no;
  left: 79px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#b3 {
  height: 42px;
  top: no;
  right: no;
  bottom: no;
  left: 158px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#b4 {
  height: 87px;
  top: 79px;
  right: no;
  bottom: no;
  left: no;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#b5 {
  height: 42px;
  top: 126px;
  right: no;
  bottom: no;
  left: 79px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#b6 {
  height: 115px;
  top: 53px;
  right: no;
  bottom: no;
  left: 158px;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

.big-box {
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

.url-box {
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 20%;
  width: 95%;
  top: 5px;
  left: 0px;
  right: 0px;
  margin: auto;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }
  .url-box:after {
    content: "www";
    position: absolute;
    left: 10px;
    top: 2.5px; }

.slider-box {
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  height: 70%;
  width: 95%;
  left: 6px;
  top: 38.5px;
  overflow: hidden;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

.left-arrow {
  position: absolute;
  left: 2.5px;
  top: 41px; }

.right-arrow {
  position: absolute;
  right: 2.5px;
  top: 41px; }

.move-out {
  -webkit-transform: translate(150%, 0);
  -moz-transform: translate(150%, 0);
  -ms-transform: translate(150%, 0);
  -o-transform: translate(150%, 0); }

.move-in {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0); }

.moving-box {
  position: absolute;
  border: 2px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  height: 80%;
  width: 60%;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#m1 {
  top: 10px;
  left: 45px; }

#m2 {
  top: 10px;
  left: 45px; }

.convert {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#section2 {
  background: #fff;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#section2 .box {
  border-color: #1d1d1d; }

#section3 {
  background: #e76f0e;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#section4 {
  background: #fff;
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out; }

#data-slider {
  display: block;
  position: relative;
  overflow: hidden;
  height: 250px; }

.wrap-slider {
  margin: 0px;
  padding: 0px; }

.data-slide {
  float: left;
  width: 250px;
  height: 110px;
  margin: 10px; }

.data-slide .image {
  float: left;
  width: 40%;
  overflow: hidden;
  position: relative; }

.data-slide .content {
  padding-left: 10px;
  padding-top: 5px;
  float: right;
  width: 60%; }

.data-slide .image img {
  display: block;
  width: 100%;
  height: 110px; }

.data-slide.yellow {
  background-color: #edb119; }

.data-slide.red {
  color: white;
  background-color: #dc2c1a; }
  .data-slide.red h4 {
    color: white; }

.data-slide.gray {
  background-color: #dddddd; }

.data-slide.blue {
  color: white;
  background-color: #4c788b; }
  .data-slide.blue h4 {
    color: white; }

.data-slide.orange {
  color: white;
  background-color: #cc9b16; }
  .data-slide.orange h4 {
    color: white; }

.modal.active {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  z-index: 20;
  overflow: hidden; }

.modal.active .modal-wrapper {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 90%;
  height: 90%;
  margin: auto;
  min-width: 320px;
  min-height: 520px;
  max-width: 860px;
  overflow: hidden; }
  .modal.active .modal-wrapper .container {
    width: 100%;
    overflow-y: auto; }

.modal.active .checkout {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  display: block;
  min-height: 50px;
  position: relative;
  z-index: 15;
  width: 100%;
  border-bottom: 1px solid #d9d9d9; }
  .modal.active .checkout ul {
    float: left;
    display: block;
    height: 50px;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin-right: -4px;
    position: relative; }
  .modal.active .checkout .ul-right {
    position: absolute;
    right: 10px; }
    .modal.active .checkout .ul-right li {
      display: block;
      padding-right: 2px; }
  .modal.active .checkout .ul-left {
    float: left;
    position: static; }
  .modal.active .checkout .brand {
    padding: 0px 10px; }
    .modal.active .checkout .brand a {
      margin-top: 12px; }
  .modal.active .checkout ul li {
    float: left;
    position: relative;
    min-width: 110px;
    max-width: 225px;
    text-align: center;
    height: 49px;
    margin-right: -4px;
    text-indent: 0px;
    list-style: none;
    line-height: 50px; }
  .modal.active .checkout a {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 2px 10px; }
  .modal.active .checkout .ul-right li {
    padding-right: 5px; }

/*!
 * Waves v0.5.3
 * http://fian.my.id/Waves 
 * 
 * Copyright 2014 Alfiana E. Sibuea and other contributors 
 * Released under the MIT license 
 * https://github.com/fians/Waves/blob/master/LICENSE 
 */
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

.waves-effect .waves-ripple {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255, 255, 255, 0.4); }

.waves-notransition {
  -webkit-transition: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transition: none !important; }

.waves-button,
.waves-circle {
  -webkit-transform: translateZ(0);
  -webkit-image-mask: -webkit-radial-gradient(circle, transparent, transparent); }

.waves-button,
.waves-button:hover,
.waves-button:visited,
.waves-button:link,
.waves-button-input {
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  z-index: 1; }

.waves-button {
  padding: 10px 15px;
  border-radius: 2px; }

.waves-button-input {
  margin: 0;
  padding: 10px 15px; }

.waves-input-wrapper {
  border-radius: 2px;
  vertical-align: bottom; }

.waves-input-wrapper.waves-button {
  padding: 0; }

.waves-input-wrapper .waves-button-input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; }

.waves-circle {
  text-align: center;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 50%; }

.waves-float {
  -webkit-mask-image: none;
  -webkit-box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 1.5px 1px rgba(0, 0, 0, 0.12); }

.waves-float:active {
  -webkit-box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 20px 1px rgba(0, 0, 0, 0.3); }

.waves-block {
  display: block; }

/* Firefox Bug: link not triggered */
a.waves-effect .waves-ripple {
  z-index: -1; }

html, body {
  -ms-touch-action: none;
  font-family: 'Helvectica' sans-serif; }

body, html {
  height: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

header {
  text-align: center;
  color: white;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 30px;
  background: #2f2f2f;
  margin-bottom: 10px; }
  header div {
    text-align: center; }
  header a {
    color: white; }
  header a span {
    margin-left: 5px;
    margin-right: 5px; }

body {
  background: #eee; }

.EmberEngine {
  margin-top: 40px;
  padding: 0px 10px; }

/*-----------------------------MAIN VIEW---------------------------------*/
.container {
  position: relative;
  margin: 0 auto; }
  .container .wrapper {
    padding: 10px; }
  .container .section {
    padding: 20px 0px; }
  .container .section-image {
    position: relative;
    top: 30px; }
    .container .section-image img {
      width: 100%;
      height: auto;
      display: block; }
  .container #section1 {
    padding-top: 40px;
    background: #1d1d1d; }
@-webkit-keyframes featureIn {
  0% {
    top: 171px; }
  100% {
    top: 0px; } }
@keyframes featureIn {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }
@-webkit-keyframes boxIn {
  0% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); } }
@keyframes boxIn {
  0% {
    top: 171px; }
  100% {
    top: 0px; } }
  .container .box-container {
    text-align: center; }
  .container .feature4 {
    position: relative;
    width: 320px;
    margin: 10px 10px;
    padding: 10px;
    height: 240px;
    overflow: hidden;
    display: inline-block; }
  .container .feature-in {
    -webkit-animation: featureIn 300ms 0 ease;
    -moz-animation: featureIn 300ms 0 ease;
    -ms-animation: featureIn 300ms 0 ease;
    animation: featureIn 300ms 0 ease; }
  .container .box-in {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  .container .box-out {
    -webkit-transform: translate(0, 490%);
    -moz-transform: translate(0, 490%);
    -ms-transform: translate(0, 490%);
    -o-transform: translate(0, 490%); }
  .container .box-wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 150px;
    -webkit-animation: featureIn 300ms 0 ease;
    -moz-animation: featureIn 300ms 0 ease;
    -ms-animation: featureIn 300ms 0 ease;
    animation: featureIn 300ms 0 ease; }
  .container .box {
    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    float: left;
    width: 73px; }
  .container #b1 {
    height: 71px;
    top: no;
    right: no;
    bottom: no;
    left: no;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #b2 {
    height: 118px;
    top: no;
    right: no;
    bottom: no;
    left: 79px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #b3 {
    height: 42px;
    top: no;
    right: no;
    bottom: no;
    left: 158px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #b4 {
    height: 87px;
    top: 79px;
    right: no;
    bottom: no;
    left: no;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #b5 {
    height: 42px;
    top: 126px;
    right: no;
    bottom: no;
    left: 79px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #b6 {
    height: 115px;
    top: 53px;
    right: no;
    bottom: no;
    left: 158px;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container .big-box {
    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container .url-box {
    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    height: 20%;
    width: 95%;
    top: 5px;
    left: 0px;
    right: 0px;
    margin: auto;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
    .container .url-box:after {
      content: "www";
      position: absolute;
      left: 10px;
      top: 2.5px; }
  .container .slider-box {
    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: block;
    height: 70%;
    width: 95%;
    left: 6px;
    top: 38.5px;
    overflow: hidden;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container .left-arrow {
    position: absolute;
    left: 2.5px;
    top: 41px; }
  .container .right-arrow {
    position: absolute;
    right: 2.5px;
    top: 41px; }
  .container .move-out {
    -webkit-transform: translate(150%, 0);
    -moz-transform: translate(150%, 0);
    -ms-transform: translate(150%, 0);
    -o-transform: translate(150%, 0); }
  .container .move-in {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0); }
  .container .moving-box {
    position: absolute;
    border: 2px solid white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 80%;
    width: 60%;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #m1 {
    top: 10px;
    left: 45px; }
  .container #m2 {
    top: 10px;
    left: 45px; }
  .container .convert {
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #section2 {
    background: #fff;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #section2 .box {
    border-color: #1d1d1d; }
  .container #section3 {
    background: #e76f0e;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container #section4 {
    background: #fff;
    -webkit-transition: all 350ms ease-in-out;
    -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out; }
  .container .btn-round {
    position: relative;
    border: none;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px 20px;
    margin: 4px;
    cursor: pointer;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */ }
  .container .btn-round.green {
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-round.red {
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-round.blue {
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-round.green-inverse {
    background: #2aad19;
    color: rgba(255, 255, 255, 0.8); }
  .container .btn-round.red-inverse {
    background: #eb3737;
    color: rgba(255, 255, 255, 0.8); }
  .container .btn-round.blue-inverse {
    color: rgba(255, 255, 255, 0.8);
    background: #2b80b7; }
  .container .btn-round.black {
    color: rgba(0, 0, 0, 0.65);
    border: 1.5px solid rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-round.white {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-naked {
    position: relative;
    border: none;
    background: none;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px 10px;
    margin: 4px;
    font-weight: normal;
    cursor: pointer; }
  .container li .btn-cta {
    width: 100%;
    height: 37px;
    line-height: 35px; }
  .container .btn-cta {
    position: relative;
    border: none;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 10px 10px;
    width: 100%;
    margin: 4px 0px;
    cursor: pointer;
    -webkit-transition: color 300ms ease-in, background 300ms ease-in;
    -moz-transition: color 300ms ease-in, background 300ms ease-in;
    -ms-transition: color 300ms ease-in, background 300ms ease-in;
    -o-transition: color 300ms ease-in, background 300ms ease-in; }
    .container .btn-ctadisabled:after, .container .btn-cta:disabled:after {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00d";
      position: absolute;
      right: 5px;
      top: 0px;
      bottom: 0px;
      height: 15px;
      margin: auto;
      color: #eb3737; }
  .container .btn-cta.green {
    color: white;
    background: #2aad19; }
  .container .btn-cta.green.disabled, .container .btn-cta.green:disabled {
    color: rgba(255, 255, 255, 0.7);
    pointer: default;
    background: rgba(42, 173, 25, 0.3); }
  .container .btn-cta.red {
    color: white;
    background: #eb3737; }
  .container .btn-cta.red.disabled, .container .btn-cta.red:disabled {
    color: rgba(255, 255, 255, 0.7);
    pointer: default;
    background: rgba(235, 55, 55, 0.3); }
  .container .btn-cta.blue {
    color: white;
    background: #2b80b7; }
  .container .btn-cta.blue.disabled, .container .btn-cta.blue:disabled {
    color: rgba(255, 255, 255, 0.7);
    pointer: default;
    background: rgba(43, 128, 183, 0.3); }
  .container .btn-cta.black {
    width: 99.99%;
    height: 99.99%;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-cta.black.disabled, .container .btn-cta.black:disabled {
    pointer: default;
    width: 99.99%;
    height: 99.99%;
    color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.6); }
  .container .btn-cta.white {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.8); }
  .container .btn-group {
    width: 100%;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex; }
  .container .btn-group .btn-cta:first-child {
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .container .btn-group .btn-cta:last-child {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; }
  .container .btn-group .btn-naked {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%; }
    .container .btn-group .btn-naked:only-child {
      border: none; }
    .container .btn-group .btn-naked:last-child {
      border-left: 1px solid #dedede; }
  .container .btn-group.gray {
    background: #f7f7f7; }

@media (max-width: 766px) {
  .nav {
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: block;
    min-height: 41px;
    position: relative;
    z-index: 15;
    width: 100%;
    border-top: 1px solid #58a9b3;
    border-bottom: 1px solid #26818c;
    background-color: #298b96;
    color: #fff; }
    .nav .brand {
      position: relative;
      right: 20px; }
    .nav ul {
      left: 50px; }
    .nav .ul-left {
      position: fixed;
      left: 0px;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -ms-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      margin-top: 40px;
      top: 0px;
      bottom: 0px;
      width: 0px;
      height: 100%; }
      .nav .ul-left:after {
        cursor: pointer;
        overflow: hidden;
        font-family: 'FontAwesome';
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 0px;
        content: "\f0c9";
        top: -40px;
        left: 0px;
        position: absolute;
        z-index: 99;
        width: 30px;
        height: 30px; }
      .nav .ul-left:hover {
        width: 320px; }
        .nav .ul-left:hover li {
          min-width: 100%; }
      .nav .ul-left li {
        width: 0%;
        overflow-x: hidden;
        max-width: none;
        min-width: 0px;
        -webkit-transition: min-width 0.3s ease-in-out;
        -moz-transition: min-width 0.3s ease-in-out;
        -ms-transition: min-width 0.3s ease-in-out;
        -o-transition: min-width 0.3s ease-in-out; }
    .nav ul {
      background-color: #298b96;
      color: #fff; }
      .nav ul li a:hover, .nav ul .brand:hover {
        background-color: #41bdcb;
        -webkit-transition: background-color 350ms ease-in-out;
        -moz-transition: background-color 350ms ease-in-out;
        -ms-transition: background-color 350ms ease-in-out;
        -o-transition: background-color 350ms ease-in-out; }
      .nav ul a {
        color: #fff; }
      .nav ul:hover:after {
        background-color: #41bdcb;
        -webkit-transition: background-color 350ms ease-in-out;
        -moz-transition: background-color 350ms ease-in-out;
        -ms-transition: background-color 350ms ease-in-out;
        -o-transition: background-color 350ms ease-in-out; }
    .nav li a:hover, .nav .brand:hover {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }
    .nav a {
      color: #fff; }
    .nav:hover:after {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }
    .nav ul li a {
      color: white; }

  .span9 {
    float: none !important;
    margin: 0 auto;
    width: 100% !important; }

  .section-image {
    position: relative;
    top: 30px;
    overflow: hidden;
    max-width: 320px; }
    .section-image img {
      width: auto;
      height: 200px;
      display: block; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .span9 {
    float: none !important;
    margin: 0 auto; }

  .nav {
    position: fixed !important;
    top: 0px;
    left: 0px;
    display: block;
    min-height: 41px;
    position: relative;
    z-index: 15;
    width: 100%;
    border-top: 1px solid #58a9b3;
    border-bottom: 1px solid #26818c;
    background-color: #298b96;
    color: #fff; }
    .nav .brand {
      position: relative;
      right: 20px; }
    .nav ul {
      left: 50px; }
    .nav .ul-left {
      position: fixed;
      left: 0px;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      -ms-transition: width 0.3s ease-in-out;
      -o-transition: width 0.3s ease-in-out;
      margin-top: 40px;
      top: 0px;
      bottom: 0px;
      width: 0px;
      height: 100%; }
      .nav .ul-left:after {
        cursor: pointer;
        overflow: hidden;
        font-family: 'FontAwesome';
        font-size: 20px;
        text-align: center;
        padding: 5px;
        padding-top: 10px;
        padding-bottom: 0px;
        content: "\f0c9";
        top: -40px;
        left: 0px;
        position: absolute;
        z-index: 99;
        width: 30px;
        height: 30px; }
      .nav .ul-left:hover {
        width: 320px; }
        .nav .ul-left:hover li {
          min-width: 100%; }
      .nav .ul-left li {
        width: 0%;
        overflow-x: hidden;
        max-width: none;
        min-width: 0px;
        -webkit-transition: min-width 0.3s ease-in-out;
        -moz-transition: min-width 0.3s ease-in-out;
        -ms-transition: min-width 0.3s ease-in-out;
        -o-transition: min-width 0.3s ease-in-out; }
    .nav ul {
      background-color: #298b96;
      color: #fff; }
      .nav ul li a:hover, .nav ul .brand:hover {
        background-color: #41bdcb;
        -webkit-transition: background-color 350ms ease-in-out;
        -moz-transition: background-color 350ms ease-in-out;
        -ms-transition: background-color 350ms ease-in-out;
        -o-transition: background-color 350ms ease-in-out; }
      .nav ul a {
        color: #fff; }
      .nav ul:hover:after {
        background-color: #41bdcb;
        -webkit-transition: background-color 350ms ease-in-out;
        -moz-transition: background-color 350ms ease-in-out;
        -ms-transition: background-color 350ms ease-in-out;
        -o-transition: background-color 350ms ease-in-out; }
    .nav li a:hover, .nav .brand:hover {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }
    .nav a {
      color: #fff; }
    .nav:hover:after {
      background-color: #41bdcb;
      -webkit-transition: background-color 350ms ease-in-out;
      -moz-transition: background-color 350ms ease-in-out;
      -ms-transition: background-color 350ms ease-in-out;
      -o-transition: background-color 350ms ease-in-out; }
    .nav ul li a {
      color: white; } }
@media (min-width: 1025px) {
  width: 1280px; }
/*-----------------------------MAIN VIEW---------------------------------*/
@media screen and (max-width: 766px) {
  .display-desktop {
    display: none;
    visibility: hidden; }

  .display-tablet {
    display: none;
    visibility: hidden; }

  .display-mobile {
    display: block;
    visibility: visible; }

  .not-mobile {
    display: none;
    visibility: hidden; }

  .not-desktop {
    display: block;
    visibility: visible; }

  .not-tablet {
    display: block;
    visibility: visible; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .display-desktop {
    display: none;
    visibility: hidden; }

  .display-tablet {
    display: block;
    visibility: visible; }

  .display-mobile {
    display: none;
    visibility: hidden; }

  .not-mobile {
    display: block;
    visibility: visible; }

  .not-desktop {
    display: block;
    visibility: visible; }

  .not-tablet {
    display: none;
    visibility: hidden; } }
@media (min-width: 1025px) {
  .display-desktop {
    display: block;
    visibility: visible; }

  .display-tablet {
    display: none;
    visibility: hidden; }

  .display-mobile {
    display: none;
    visibility: hidden; }

  .not-mobile {
    display: block;
    visibility: visible; }

  .not-desktop {
    display: none;
    visibility: hidden; }

  .not-tablet {
    display: block;
    visibility: visible; } }

/*# sourceMappingURL=core.scss.css.map */
