//yellow,red,gray,blue
.data-slide.yellow{
	background-color:#edb119;
}
.data-slide.red{ 
	color:white;  h4{color:white;}
	background-color:#dc2c1a;
}
.data-slide.gray{
	background-color:#dddddd;
}
.data-slide.blue{
	color:white;  h4{color:white;}
	background-color:#4c788b;
}
.data-slide.orange{
	color:white;  h4{color:white;}
	background-color:#cc9b16;
}
